openapi: 3.0.0
servers:
  - description: runZero Console
    url: https://console.runzero.com/api/v1.0
info:
  description: runZero API. API use is rate limited, you can make as many calls per day as you have licensed assets.
  version: 4.0.250606.0
  title: runZero API
  contact:
    email: support@runzero.com
  license:
    name: Commercial
    url: 'https://www.runzero.com/legal/terms'
tags:
  - name: Account
    description: Requires Account key (starts with CT), or OAuth
  - name: Organization
    description: Requires Organization key (starts with OT), Account key (starts with CT), or OAuth
  - name: Export
    description: Requires Export token (starts with ET), Organization key (starts with OT), Account key (starts with CT), or OAuth
  - name: Import
    description: Requires Organization key (starts with OT), Account key (starts with CT), or OAuth
  - name: Public
    description: Unauthenticated

security:
  - bearerAuth: []
  - oauthDefaults: []

paths:
  /releases/agent/version:
    get:
      tags:
        - Public
      operationId: getLatestAgentVersion
      security: []   # No security
      summary: Returns latest agent version
      responses:
        '200':
          description: component version
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComponentVersion'

  /releases/scanner/version:
    get:
      tags:
        - Public
      operationId: getLatestScannerVersion
      security: []   # No security
      summary: Returns latest scanner version
      responses:
        '200':
          description: component version
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComponentVersion'

  /releases/platform/version:
    get:
      tags:
        - Public
      operationId: getLatestPlatformVersion
      security: []   # No security
      summary: Returns latest platform version
      responses:
        '200':
          description: component version
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComponentVersion'

  /health:
    get:
      tags:
        - Public
      operationId: getHealthCheck
      security: []   # No security
      summary: Returns a health check status (cloud and self-hosted)
      responses:
        '200':
          description: health status and current version
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthCheckResponse'

  /import/org/{orgID}/assets:
    post:
      parameters:
        - name: orgID
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the organization to import the assets into
      tags:
        - Organization
        - Import
      operationId: importCustomIntegrationAssets
      summary: Import assets described by a registered custom integration
      description: |
        Assets can be discovered, imported, and merged by runZero scan tasks, first-party integrations, and third-party
        defined custom integrations. See [/account/custom-integrations](#/account/getAccountCustomIntegrations). Currently only assets for custom integrations are importable here.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/NewAssetImport'
            encoding:
              assetData:
                contentType: application/gzip
      responses:
        '200':
          description: import task created. The task ID should be checked for its status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
        '400':
          $ref: '#/components/responses/InvalidRequestBodyError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/NotAllowedForLicenseError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '422':
          $ref: '#/components/responses/InvalidRequestBodyError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /export/org/assets.json:
    parameters:
      - $ref: '#/components/parameters/orgID'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/pageSize'
      - $ref: '#/components/parameters/startKey'
    get:
      tags:
        - Export
      operationId: exportAssetsJSON
      summary: Exports the asset inventory
      responses:
        '200':
          description: Filtered asset results. <ul><li>When the `page_size` query parameter is not set in the request, the response will be a JSON array of assets.</li><li>When the `page_size` query parameter is present in the request, the response will be an object with an assets array and a `next_key` string for pagination.</li></ul>
          content:
            application/json:
              schema:
                oneOf:
                  - type: array
                    items:
                      $ref: '#/components/schemas/Asset'
                  - type: object
                    properties:
                      assets:
                        type: array
                        items:
                          $ref: '#/components/schemas/Asset'
                      next_key:
                        type: string
                        description: The key to use for the next page of results
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /export/org/assets.jsonl:
    parameters:
      - $ref: '#/components/parameters/orgID'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/fields'
    get:
      tags:
        - Export
      operationId: exportAssetsJSONL
      summary: Asset inventory as JSON line-delimited
      responses:
        '200':
          # This is a streaming response of one Asset object per line in JSON format
          description: filtered asset results
          content:
            application/json:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /export/org/assets.csv:
    parameters:
      - $ref: '#/components/parameters/orgID'
      - $ref: '#/components/parameters/search'
    get:
      tags:
        - Export
      operationId: exportAssetsCSV
      summary: Asset inventory as CSV
      responses:
        '200':
          description: filtered asset results
          content:
            text/csv:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /export/org/assets.nmap.xml:
    parameters:
      - $ref: '#/components/parameters/orgID'
      - $ref: '#/components/parameters/search'
    get:
      tags:
        - Export
      operationId: exportAssetsNmapXML
      summary: Asset inventory as Nmap-style XML
      responses:
        '200':
          description: filtered asset results
          content:
            text/xml:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /export/org/services.json:
    parameters:
      - $ref: '#/components/parameters/orgID'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/pageSize'
      - $ref: '#/components/parameters/startKey'
    get:
      tags:
        - Export
      operationId: exportServicesJSON
      summary: Service inventory as JSON
      responses:
        '200':
          description: Filtered service results. <ul><li>When the `page_size` query parameter is not set in the request, the response will be a JSON array of services.</li><li>When the `page_size` query parameter is present in the request, the response will be an object with a services array and a `next_key` string for pagination.</li></ul>
          content:
            application/json:
              schema:
                oneOf:
                  - type: array
                    items:
                      $ref: '#/components/schemas/Service'
                  - type: object
                    properties:
                      services:
                        type: array
                        items:
                          $ref: '#/components/schemas/Service'
                      next_key:
                        type: string
                        description: The key to use for the next page of results
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /export/org/services.jsonl:
    parameters:
      - $ref: '#/components/parameters/orgID'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/fields'
    get:
      tags:
        - Export
      operationId: exportServicesJSONL
      summary: Service inventory as JSON line-delimited
      responses:
        '200':
          description: filtered service results
          content:
            # This is a streaming response of one Service object per line in JSON format
            application/json:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /export/org/services.csv:
    parameters:
      - $ref: '#/components/parameters/orgID'
      - $ref: '#/components/parameters/search'
    get:
      tags:
        - Export
      operationId: exportServicesCSV
      summary: Service inventory as CSV
      responses:
        '200':
          description: filtered service results
          content:
            text/csv:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/UnauthorizedError'


  /export/org/sites.json:
    parameters:
      - $ref: '#/components/parameters/orgID'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/fields'
    get:
      tags:
        - Export
      operationId: exportSitesJSON
      summary: Export all sites
      responses:
        '200':
          description: all sites
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Site'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /export/org/sites.jsonl:
    parameters:
      - $ref: '#/components/parameters/orgID'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/fields'
    get:
      tags:
        - Export
      operationId:  exportSitesJSONL
      summary: Site list as JSON line-delimited
      responses:
        '200':
          description: all sites
          content:
            # This is a streaming response of one Site object per line in JSON format
            application/json:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /export/org/sites.csv:
    parameters:
      - $ref: '#/components/parameters/orgID'
    get:
      tags:
        - Export
      operationId:  exportSitesCSV
      summary: Site list as CSV
      responses:
        '200':
          description: all sites
          content:
            text/csv:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/UnauthorizedError'


  /export/org/wireless.json:
    parameters:
      - $ref: '#/components/parameters/orgID'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/pageSize'
      - $ref: '#/components/parameters/startKey'
    get:
      tags:
        - Export
      operationId: exportWirelessJSON
      summary: Wireless inventory as JSON
      responses:
        '200':
          description: Filtered wireless results. <ul><li>When the `page_size` query parameter is not set in the request, the response will be a JSON array of wireless.</li><li>When the `page_size` query parameter is present in the request, the response will be an object with a wireless array and a `next_key` string for pagination.</li></ul>
          content:
            application/json:
              schema:
                oneOf:
                  - type: array
                    items:
                      $ref: '#/components/schemas/Wireless'
                  - type: object
                    properties:
                      wireless:
                        type: array
                        items:
                          $ref: '#/components/schemas/Wireless'
                      next_key:
                        type: string
                        description: The key to use for the next page of results
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /export/org/wireless.jsonl:
    parameters:
      - $ref: '#/components/parameters/orgID'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/fields'
    get:
      tags:
        - Export
      operationId: exportWirelessJSONL
      summary: Wireless inventory as JSON line-delimited
      responses:
        '200':
          description: filtered wireless results
          content:
            # This is a streaming response of one Wireless object per line in JSON format
            application/json:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /export/org/wireless.csv:
    parameters:
      - $ref: '#/components/parameters/orgID'
      - $ref: '#/components/parameters/search'
    get:
      tags:
        - Export
      operationId: exportWirelessCSV
      summary: Wireless inventory as CSV
      responses:
        '200':
          description: filtered wireless results
          content:
            text/csv:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /export/org/software.json:
    parameters:
      - $ref: '#/components/parameters/orgID'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/pageSize'
      - $ref: '#/components/parameters/startKey'
    get:
      tags:
        - Export
      operationId: exportSoftwareJSON
      summary: Exports the software inventory
      responses:
        '200':
          description: Filtered software results. <ul><li>When the `page_size` query parameter is not set in the request, the response will be a JSON array of software.</li><li>When the `page_size` query parameter is present in the request, the response will be an object with a software array and a `next_key` string for pagination.</li></ul>
          content:
            application/json:
              schema:
                oneOf:
                  - type: array
                    items:
                      $ref: '#/components/schemas/Software'
                  - type: object
                    properties:
                      software:
                        type: array
                        items:
                          $ref: '#/components/schemas/Software'
                      next_key:
                        type: string
                        description: The key to use for the next page of results
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /export/org/software.jsonl:
    parameters:
      - $ref: '#/components/parameters/orgID'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/fields'
    get:
      tags:
        - Export
      operationId: exportSoftwareJSONL
      summary: Software inventory as JSON line-delimited
      responses:
        '200':
          # This is a streaming response of one Software object per line in JSON format
          description: filtered software results
          content:
            application/json:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /export/org/software.csv:
    parameters:
      - $ref: '#/components/parameters/orgID'
      - $ref: '#/components/parameters/search'
    get:
      tags:
        - Export
      operationId: exportSoftwareCSV
      summary: Software inventory as CSV
      responses:
        '200':
          description: filtered software results
          content:
            text/csv:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /export/org/vulnerabilities.json:
    parameters:
      - $ref: '#/components/parameters/orgID'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/pageSize'
      - $ref: '#/components/parameters/startKey'
    get:
      tags:
        - Export
      operationId: exportVulnerabilitiesJSON
      summary: Export the vulnerability inventory as JSON
      responses:
        '200':
          description: Filtered vulnerability results. <ul><li>When the `page_size` query parameter is not set in the request, the response will be a JSON array of vulnerabilities.</li><li>When the `page_size` query parameter is present in the request, the response will be an object with an vulnerabilites array and a `next_key` string for pagination.</li></ul>
          content:
            application/json:
              schema:
                oneOf:
                  - type: array
                    items:
                      $ref: '#/components/schemas/Vulnerability'
                  - type: object
                    properties:
                      vulnerabilities:
                        type: array
                        items:
                          $ref: '#/components/schemas/Vulnerability'
                      next_key:
                        type: string
                        description: The key to use for the next page of results
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /export/org/vulnerabilities.jsonl:
    parameters:
      - $ref: '#/components/parameters/orgID'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/fields'
    get:
      tags:
        - Export
      operationId: exportVulnerabilitiesJSONL
      summary: Export the vulnerability inventory as JSON line-delimited
      responses:
        '200':
          # This is a streaming response of one Vulnerability object per line in JSON format
          description: filtered vulnerability results
          content:
            application/json:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /export/org/vulnerabilities.csv:
    parameters:
      - $ref: '#/components/parameters/orgID'
      - $ref: '#/components/parameters/search'
    get:
      tags:
        - Export
      operationId: exportVulnerabilitiesCSV
      summary: Export the vulnerability inventory as CSV
      responses:
        '200':
          description: filtered vulnerability results
          content:
            text/csv:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /export/org/certificates.csv:
    parameters:
      - $ref: '#/components/parameters/orgID'
      - $ref: '#/components/parameters/search'
    get:
      tags:
        - Export
        - Certificates
      operationId: exportCertificatesCSV
      summary: Export the certificate inventory as CSV
      responses:
        '200':
          description: filtered certificate results
          content:
            text/csv:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /export/org/certificates.json:
    parameters:
      - $ref: '#/components/parameters/orgID'
      - $ref: '#/components/parameters/search'
    get:
      tags:
        - Export
        - Certificates
      operationId: exportCertificatesJSON
      summary: Export the certificate inventory as JSON
      responses:
        '200':
          description: filtered certificate results
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Certificate"
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /export/org/certificates.jsonl:
    parameters:
      - $ref: '#/components/parameters/orgID'
      - $ref: '#/components/parameters/search'
    get:
      tags:
        - Export
        - Certificates
      operationId: exportCertificatesJSONL
      summary: Export the certificate inventory as JSONL line-delimited
      responses:
        '200':
          description: filtered certificate results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Certificate"
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /export/org/users.json:
    parameters:
      - $ref: '#/components/parameters/orgID'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/fields'
    get:
      tags:
        - Export
      operationId: exportDirectoryUsersJSON
      summary: Exports the user inventory
      responses:
        '200':
          description: filtered user results
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DirectoryUser'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /export/org/users.jsonl:
    parameters:
      - $ref: '#/components/parameters/orgID'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/fields'
    get:
      tags:
        - Export
      operationId: exportDirectoryUsersJSONL
      summary: User inventory as JSON line-delimited
      responses:
        '200':
          # This is a streaming response of one DirectoryUser object per line in JSON format
          description: filtered user results
          content:
            application/json:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /export/org/users.csv:
    parameters:
      - $ref: '#/components/parameters/orgID'
      - $ref: '#/components/parameters/search'
    get:
      tags:
        - Export
      operationId: exportDirectoryUsersCSV
      summary: User inventory as CSV
      responses:
        '200':
          description: filtered user results
          content:
            text/csv:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /export/org/groups.json:
    parameters:
      - $ref: '#/components/parameters/orgID'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/fields'
    get:
      tags:
        - Export
      operationId: exportDirectoryGroupsJSON
      summary: Exports the group inventory
      responses:
        '200':
          description: filtered group results
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DirectoryGroup'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /export/org/groups.jsonl:
    parameters:
      - $ref: '#/components/parameters/orgID'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/fields'
    get:
      tags:
        - Export
      operationId: exportDirectoryGroupsJSONL
      summary: Group inventory as JSON line-delimited
      responses:
        '200':
          # This is a streaming response of one DirectoryGroup object per line in JSON format
          description: filtered group results
          content:
            application/json:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /export/org/groups.csv:
    parameters:
      - $ref: '#/components/parameters/orgID'
      - $ref: '#/components/parameters/search'
    get:
      tags:
        - Export
      operationId: exportDirectoryGroupsCSV
      summary: Group inventory as CSV
      responses:
        '200':
          description: filtered group results
          content:
            text/csv:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /export/org/findings.csv:
    parameters:
      - $ref: '#/components/parameters/orgID'
      - $ref: '#/components/parameters/search'
    get:
      tags:
        - Export
      operationId: exportFindingsCSV
      summary: Export findings as CSV
      responses:
        '200':
          description: filtered findings
          content:
            text/csv:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /export/org/findings.json:
    parameters:
      - $ref: '#/components/parameters/orgID'
      - $ref: '#/components/parameters/search'
    get:
      tags:
        - Export
      operationId: exportFindingsJSON
      summary: Export findings as JSON
      responses:
        '200':
          description: filtered findings
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Finding'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /export/org/findings.jsonl:
    parameters:
      - $ref: '#/components/parameters/orgID'
      - $ref: '#/components/parameters/search'
    get:
      tags:
        - Export
      operationId: exportFindingsJSONL
      summary: Export findings as JSON line-delimited
      responses:
        '200':
          description: filtered findings
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Finding'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /export/org/subnet.stats.csv:
    parameters:
      - $ref: '#/components/parameters/orgID'
    get:
      tags:
        - Export
      operationId: exportSubnetUtilizationStatsCSV
      summary: Subnet utilization statistics as as CSV
      parameters:
        - in: query
          name: mask
          description: an optional subnet mask size (ex:24)
          required: false
          schema:
            type: string
      responses:
        '200':
          description: subnet utilization stats as csv
          content:
            text/csv:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /export/org/snmp.arpcache.csv:
    parameters:
      - $ref: '#/components/parameters/orgID'
    get:
      tags:
        - Export
      operationId: exportSNMPARPCacheCSV
      summary: SNMP ARP cache data as CSV
      responses:
        '200':
          description: SNMP ARP cache data as csv
          content:
            text/csv:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /export/org/tasks.json:
    parameters:
      - $ref: '#/components/parameters/orgID'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/fields'
    get:
      tags:
        - Export
      operationId: exportTasksJSON
      summary: Exports organization tasks
      responses:
        '200':
          description: filtered task results
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Task'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /export/org/tasks.jsonl:
    parameters:
      - $ref: '#/components/parameters/orgID'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/fields'
    get:
      tags:
        - Export
      operationId: exportTasksJSONL
      summary: Organization tasks as JSON line-delimited
      responses:
        '200':
          # This is a streaming response of one Task object per line in JSON format
          description: filtered task results
          content:
            application/json:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/UnauthorizedError'


  /org/assets/type.csv:
    parameters:
      - $ref: '#/components/parameters/orgID'
    get:
      tags:
        - Export
      operationId: exportAssetTopTypesCSV
      summary: Top asset types as CSV
      responses:
        '200':
          description: top asset types and counts as csv
          content:
            text/csv:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /org/assets/os.csv:
    parameters:
      - $ref: '#/components/parameters/orgID'
    get:
      tags:
        - Export
      operationId: exportAssetTopOSCSV
      summary: Top asset operating systems as CSV
      responses:
        '200':
          description: top operating systems and counts as csv
          content:
            text/csv:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /org/assets/hw.csv:
    parameters:
      - $ref: '#/components/parameters/orgID'
    get:
      tags:
        - Export
      operationId: exportAssetTopHWCSV
      summary: Top asset hardware products as CSV
      responses:
        '200':
          description: top asset hardware platforms and counts as csv
          content:
            text/csv:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /org/assets/tags.csv:
    parameters:
      - $ref: '#/components/parameters/orgID'
    get:
      tags:
        - Export
      operationId: exportAssetTopTagsCSV
      summary: Top asset tags as CSV
      responses:
        '200':
          description: top asset tags and counts as csv
          content:
            text/csv:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/UnauthorizedError'


  /org/services/tcp.csv:
    parameters:
      - $ref: '#/components/parameters/orgID'
    get:
      tags:
        - Export
      operationId: exportServicesTopTCPCSV
      summary: Top TCP services as CSV
      responses:
        '200':
          description: top TCP services and counts as csv
          content:
            text/csv:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /org/services/udp.csv:
    parameters:
      - $ref: '#/components/parameters/orgID'
    get:
      tags:
        - Export
      operationId: exportServicesTopUDPCSV
      summary: Top UDP services as CSV
      responses:
        '200':
          description: top UDP services and counts as csv
          content:
            text/csv:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /org/services/protocols.csv:
    parameters:
      - $ref: '#/components/parameters/orgID'
    get:
      tags:
        - Export
      operationId: exportServicesTopProtocolsCSV
      summary: Top service protocols as CSV
      responses:
        '200':
          description: top service protocols and counts as csv
          content:
            text/csv:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /org/services/products.csv:
    parameters:
      - $ref: '#/components/parameters/orgID'
    get:
      tags:
        - Export
      operationId: exportServicesTopProductsCSV
      summary: Top service products as CSV
      responses:
        '200':
          description: top service products and counts as csv
          content:
            text/csv:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /org/metrics:
    parameters:
      - $ref: '#/components/parameters/orgID'
    get:
      operationId: exportAssetMetricsJSON
      summary: Export asset metrics
      responses:
        '200':
          description: asset metrics
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
                  properties:
                    site_id:
                      type: string
                    metrics:
                      type: object
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /org:
    parameters:
      - $ref: '#/components/parameters/orgID'
    get:
      tags:
        - Organization
      operationId: getOrganization
      summary: Get organization details
      responses:
        '200':
          description: organization details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
    patch:
      tags:
        - Organization
      operationId: updateOrganization
      summary: Update organization details
      requestBody:
        description: organization options
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrgOptions'
      responses:
        '200':
          description: organization details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'

        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /org/key:
    parameters:
      - $ref: '#/components/parameters/orgID'
    get:
      tags:
        - Organization
      operationId: getKey
      summary: Get API key details
      responses:
        '200':
          description: api key details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKey'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
    delete:
      tags:
        - Organization
      operationId: removeKey
      summary: Remove the current API key
      responses:
        '204':
          description: empty response
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /org/key/rotate:
    parameters:
      - $ref: '#/components/parameters/orgID'
    patch:
      tags:
        - Organization
      operationId: rotateKey
      summary: Rotate the API key secret and return the updated key
      responses:
        '200':
          description: api key details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKey'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /org/agents:
    parameters:
      - $ref: '#/components/parameters/orgID'
    get:
      tags:
        - Organization
      operationId: getAgents
      summary: Get all agents. Legacy path for /org/explorers
      responses:
        '200':
          description: array of agents
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Agent'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /org/agents/{agent_id}:
    parameters:
      - $ref: '#/components/parameters/orgID'
    get:
      tags:
        - Organization
      operationId: getAgent
      summary: Get details for a single agent. Legacy path for /org/explorers/{explorer_id}
      parameters:
        - in: path
          name: agent_id
          schema:
            type: string
            format: uuid
          required: true
          description: UUID of the agent
      responses:
        '200':
          description: agent details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
    delete:
      tags:
        - Organization
      operationId: removeAgent
      summary: Remove and uninstall an agent. Legacy path for /org/explorers/{explorer_id}
      parameters:
        - in: path
          name: agent_id
          schema:
            type: string
            format: uuid
          required: true
          description: UUID of the agent to remove
      responses:
        '204':
          description: empty response
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
    patch:
      tags:
        - Organization
      operationId: updateAgentSite
      summary: Update the site associated with agent. Legacy path for /org/explorers/{explorer_id}
      parameters:
        - in: path
          name: agent_id
          schema:
            type: string
            format: uuid
          required: true
          description: UUID of the agent to update
      requestBody:
        description: site_id to associate with the agent
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AgentSiteID"
      responses:
        '200':
          description: agent details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /org/agents/{agent_id}/update:
    parameters:
      - $ref: '#/components/parameters/orgID'
    post:
      tags:
        - Organization
      operationId: upgradeAgent
      summary: Force an agent to update and restart. Legacy path for /org/explorers/{explorer_id}/update
      parameters:
        - in: path
          name: agent_id
          schema:
            type: string
            format: uuid
          required: true
          description: UUID of the agent to update
      responses:
        '204':
          description: empty response
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /org/explorers:
    parameters:
      - $ref: '#/components/parameters/orgID'
    get:
      tags:
        - Organization
      operationId: getExplorers
      summary: Get all explorers
      description: Get all explorers. This is the same call as legacy path /org/agents
      responses:
        '200':
          description: array of agents
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Explorer'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /org/explorers/{explorer_id}:
    parameters:
      - $ref: '#/components/parameters/orgID'
    get:
      tags:
        - Organization
      operationId: getExplorer
      summary: Get details for a single explorer.
      description: Get details for a single explorer. This is the same call as legacy path /org/agents/{agent_id}
      parameters:
        - in: path
          name: explorer_id
          schema:
            type: string
            format: uuid
          required: true
          description: UUID of the explorer
      responses:
        '200':
          description: explorer details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Explorer'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
    delete:
      tags:
        - Organization
      operationId: removeExplorer
      summary: Remove and uninstall an explorer
      description: Remove and uninstall an explorer. This is the same call as legacy path /org/agents/{agent_id}
      parameters:
        - in: path
          name: explorer_id
          schema:
            type: string
            format: uuid
          required: true
          description: UUID of the explorer to remove
      responses:
        '204':
          description: empty response
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
    patch:
      tags:
        - Organization
      operationId: updateExplorerSite
      summary: Update the site associated with the explorer
      description: Update the site associated with the explorer. This is the same call as legacy path /org/agents/{agent_id}
      parameters:
        - in: path
          name: explorer_id
          schema:
            type: string
            format: uuid
          required: true
          description: UUID of the explorer to update
      requestBody:
        description: site_id to associate with the explorer
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExplorerSiteID"
      responses:
        '200':
          description: explorer details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Explorer'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /org/explorers/{explorer_id}/update:
    parameters:
      - $ref: '#/components/parameters/orgID'
    post:
      tags:
        - Organization
      operationId: upgradeExplorer
      summary: Force an explorer to update and restart
      description: Force an explorer to update and restart. This is the same call as legacy path /org/agents/{agent_id}/update
      parameters:
        - in: path
          name: explorer_id
          schema:
            type: string
            format: uuid
          required: true
          description: UUID of the explorer to update
      responses:
        '204':
          description: empty response
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /org/hosted-zones:
    parameters:
      - $ref: '#/components/parameters/orgID'
    get:
      tags:
        - Organization
      operationId: getHostedZones
      summary: Get all hosted zones
      description: Get all hosted zones. Hosted Zones are only available to Enterprise licensed customers.
      responses:
        '200':
          description: array of hosted zones
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HostedZone'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /org/hosted-zones/{hosted_zone_id}:
    parameters:
      - $ref: '#/components/parameters/orgID'
    get:
      tags:
        - Organization
      operationId: getHostedZone
      summary: Get details for a single hosted zone.
      description: Get details for a single Hosted Zone. Hosted Zones are only available to Enterprise licensed customers.
      parameters:
        - in: path
          name: hosted_zone_id
          schema:
            type: string
            format: uuid
          required: true
          description: UUID of the hosted zone
      responses:
        '200':
          description: hosted zone details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostedZone'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /org/sites:
    parameters:
      - $ref: '#/components/parameters/orgID'
    get:
      tags:
        - Organization
      operationId: getSites
      summary: Get all sites
      responses:
        '200':
          description: array of sites
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Site'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
    put:
      tags:
        - Organization
      operationId: createSite
      summary: Create a new site
      requestBody:
        description: site definition
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SiteOptions"
      responses:
        '200':
          description: site details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Site'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /org/sites/{site_id}:
    parameters:
      - $ref: '#/components/parameters/orgID'
    get:
      tags:
        - Organization
      operationId: getSite
      summary: Get site details
      parameters:
        - in: path
          name: site_id
          schema:
            type: string
            format: uuid
          required: true
          description: UUID or name of the site
      responses:
        '200':
          description: site details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Site'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
    delete:
      tags:
        - Organization
      operationId: removeSite
      summary: Remove a site and associated assets
      parameters:
        - in: path
          name: site_id
          schema:
            type: string
            format: uuid
          required: true
          description: UUID or name of the site to remove
      responses:
        '204':
          description: empty response
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
    patch:
      tags:
        - Organization
      operationId: updateSite
      summary: Update a site definition
      parameters:
        - in: path
          name: site_id
          schema:
            type: string
            format: uuid
          required: true
          description: UUID or name of the site to update
      requestBody:
        description: site object
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SiteOptions'
      responses:
        '200':
          description: site details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Site'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /org/sites/{site_id}/import:
    parameters:
      - $ref: '#/components/parameters/orgID'
    put:
      tags:
        - Organization
      operationId: importScanData
      summary: Import a scan data file into a site
      parameters:
        - in: path
          name: site_id
          schema:
            type: string
            format: uuid
          required: true
          description: UUID or name of the site to import scan data into
      requestBody:
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        '200':
          description: import task
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/LicenseExpiredError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/ProcessingError'

  /org/sites/{site_id}/import/nessus:
    parameters:
      - $ref: '#/components/parameters/orgID'
    put:
      tags:
        - Organization
      operationId: importNessusScanData
      summary: Import a Nessus scan data file into a site
      parameters:
        - in: path
          name: site_id
          schema:
            type: string
            format: uuid
          required: true
          description: UUID or name of the site to import Nessus scan data into
      requestBody:
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        '200':
          description: import task
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/LicenseExpiredError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/ProcessingError'

  /org/sites/{site_id}/import/packet:
    parameters:
      - $ref: '#/components/parameters/orgID'
    put:
      tags:
        - Organization
      operationId: importPacketData
      summary: Import a packet capture file into a site
      parameters:
        - in: path
          name: site_id
          schema:
            type: string
            format: uuid
          required: true
          description: UUID or name of the site to import packet capture into
      requestBody:
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        '200':
          description: import task
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/LicenseExpiredError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/ProcessingError'

  /org/sites/{site_id}/scan:
    parameters:
      - $ref: '#/components/parameters/orgID'
    put:
      tags:
        - Organization
      operationId: createScan
      summary: Create a scan task for a given site
      parameters:
        - in: path
          name: site_id
          schema:
            type: string
            format: uuid
          required: true
          description: UUID or name of the site to scan
      requestBody:
        content:
          text/json:
            schema:
              $ref: '#/components/schemas/ScanOptions'
      responses:
        '200':
          description: a created scan task
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/LicenseExpiredError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/ProcessingError'

  /org/sites/{site_id}/sample:
    parameters:
      - $ref: '#/components/parameters/orgID'
    put:
      tags:
        - Organization
      operationId: createSample
      summary: Create a traffic sampling task for a given site
      parameters:
        - in: path
          name: site_id
          schema:
            type: string
            format: uuid
          required: true
          description: UUID or name of the site to scan
      requestBody:
        content:
          text/json:
            schema:
              $ref: '#/components/schemas/SampleOptions'
      responses:
        '200':
          description: a created scan task
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/LicenseExpiredError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/ProcessingError'

  /org/assets:
    parameters:
      - $ref: '#/components/parameters/orgID'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/fields'
    get:
      tags:
        - Organization
      operationId: getAssets
      summary: Get all assets
      responses:
        '200':
          description: array of assets
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Asset'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /org/assets/{asset_id}:
    parameters:
      - $ref: '#/components/parameters/orgID'
    get:
      tags:
        - Organization
      operationId: getAsset
      summary: Get asset details
      parameters:
        - in: path
          name: asset_id
          schema:
            type: string
            format: uuid
          required: true
          description: UUID of the asset to retrieve
      responses:
        '200':
          description: asset details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Asset'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
    delete:
      tags:
        - Organization
      operationId: removeAsset
      summary: Remove an asset
      parameters:
        - in: path
          name: asset_id
          schema:
            type: string
            format: uuid
          required: true
          description: UUID of the asset to remove
      responses:
        '204':
          description: empty response
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /org/assets/bulk/delete:
    parameters:
      - $ref: '#/components/parameters/orgID'
    post:
      tags:
        - Organization
      operationId: removeBulkAssets
      summary: Removes multiple assets by ID
      requestBody:
        description: list of asset IDs to remove
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetIDs'
      responses:
        '204':
          description: empty response
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /org/assets/{asset_id}/comments:
    parameters:
      - $ref: '#/components/parameters/orgID'
    patch:
      tags:
        - Organization
      operationId: updateAssetComments
      summary: Update asset comments
      parameters:
        - in: path
          name: asset_id
          schema:
            type: string
            format: uuid
          required: true
          description: UUID of the asset to update
      requestBody:
        description: comments to apply to the asset
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetComments'
      responses:
        '200':
          description: asset details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Asset'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /org/assets/{asset_id}/tags:
    parameters:
      - $ref: '#/components/parameters/orgID'
    patch:
      tags:
        - Organization
      operationId: updateAssetTags
      summary: Update asset tags
      parameters:
        - in: path
          name: asset_id
          schema:
            type: string
            format: uuid
          required: true
          description: UUID of the asset to update
      requestBody:
        description: tags to apply to the asset
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetTags'
      responses:
        '200':
          description: asset details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Asset'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /org/assets/{asset_id}/criticality:
    parameters:
      - $ref: '#/components/parameters/orgID'
    patch:
      tags:
        - Organization
      operationId: updateAssetCriticality
      summary: Update asset criticality
      parameters:
        - in: path
          name: asset_id
          schema:
            type: string
            format: uuid
          required: true
          description: UUID of the asset to update
      requestBody:
        description: comments to apply to the asset
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetCriticality'
      responses:
        '200':
          description: asset details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Asset'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /org/assets/merge:
    parameters:
      - $ref: '#/components/parameters/orgID'
    patch:
      tags:
        - Organization
      operationId: mergeAssets
      summary: Merge multiple assets
      requestBody:
        description: List of Asset IDs to merge
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetIDs'
      responses:
        '200':
          $ref: '#/components/responses/StatusMessage'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /org/assets/bulk/tags:
    parameters:
      - $ref: '#/components/parameters/orgID'
    patch:
      tags:
        - Organization
      operationId: updateBulkAssetTags
      summary: Update tags across multiple assets based on a search query
      requestBody:
        description: search query to filter and tags to apply
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetTagsWithSearch'
      responses:
        '200':
          $ref: '#/components/responses/StatusMessage'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /org/assets/bulk/clearTags:
    parameters:
      - $ref: '#/components/parameters/orgID'
    post:
      tags:
        - Organization
      operationId: clearBulkAssetTags
      summary: Clear all tags across multiple assets based on a search query
      requestBody:
        description: search query to filter
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Search'
      responses:
        '200':
          $ref: '#/components/responses/StatusMessage'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /org/assets/bulk/criticality:
    parameters:
      - $ref: '#/components/parameters/orgID'
    patch:
      tags:
        - Organization
      operationId: updateBulkAssetCriticality
      summary: Update criticality across multiple assets based on a search query
      requestBody:
        description: search query to filter and criticality to apply
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetCriticalityWithSearch'
      responses:
        '200':
          $ref: '#/components/responses/StatusMessage'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /org/assets/{asset_id}/owners:
    parameters:
      - $ref: '#/components/parameters/orgID'
    patch:
      tags:
        - Organization
      operationId: updateAssetOwners
      summary: Update asset owners
      parameters:
        - in: path
          name: asset_id
          schema:
            type: string
            format: uuid
          required: true
          description: UUID of the asset to update
      requestBody:
        description: list of ownerships to apply to the asset
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetOwnerships'
      responses:
        '200':
          description: asset details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Asset'
        '400':
          $ref: '#/components/responses/InvalidRequestBodyError'
        '403':
          $ref: '#/components/responses/NotAllowedForLicenseError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /org/assets/bulk/owners:
    parameters:
      - $ref: '#/components/parameters/orgID'
    patch:
      tags:
        - Organization
      operationId: updateBulkAssetOwners
      summary: Update asset owners across multiple assets based on a search query
      requestBody:
        description: search query to filter and ownerships to apply
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetOwnershipsWithSearch'
      responses:
        '200':
          description: updated asset count
          content:
            application/json:
              schema:
                type: object
                properties:
                  updated_asset_count:
                    type: integer
                    example: 10
        '400':
          $ref: '#/components/responses/InvalidRequestBodyError'
        '403':
          $ref: '#/components/responses/NotAllowedForLicenseError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /org/assets/bulk/clearOwners:
    parameters:
      - $ref: '#/components/parameters/orgID'
    post:
      tags:
        - Organization
      operationId: clearBulkAssetOwners
      summary: Clear all owners across multiple assets based on a search query
      requestBody:
        description: search query to filter
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Search'
      responses:
        '200':
          description: updated asset count
          content:
            application/json:
              schema:
                type: object
                properties:
                  updated_asset_count:
                    type: integer
                    example: 10
        '400':
          $ref: '#/components/responses/InvalidRequestBodyError'
        '403':
          $ref: '#/components/responses/InternalServerError'

  /org/custom-integrations/{custom_integration_id}/bulk/remove:
    parameters:
    - in: path
      name: custom_integration_id
      schema:
        type: string
        format: uuid
      required: true
      description: UUID of the custom integration
    post:
      tags:
        - Organization
      operationId: bulkRemoveCustomIntegration
      summary: Remove custom integration from a list of assets
      requestBody:
        description: list of asset IDs to remove
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetIDs'
      responses:
        '204':
          description: empty response
        '400':
          $ref: '#/components/responses/InvalidRequestParamError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/NotAllowedForLicenseError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /org/assets/{asset_id}/custom-integrations/{custom_integration_id}/remove:
    parameters:
    - in: path
      name: asset_id
      schema:
        type: string
        format: uuid
      required: true
      description: UUID of the asset to update
    - in: path
      name: custom_integration_id
      schema:
        type: string
        format: uuid
      required: true
      description: UUID of the custom integration
    delete:
      tags:
        - Organization
      operationId: removeCustomIntegration
      summary: Remove single custom integration from asset
      responses:
        '204':
          description: empty response
        '400':
          $ref: '#/components/responses/InvalidRequestParamError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/NotAllowedForLicenseError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /org/assets/{asset_id}/sources/{source_id}/remove:
    parameters:
    - in: path
      name: asset_id
      schema:
        type: string
        format: uuid
      required: true
      description: UUID of the asset to update
    - in: path
      name: source_id
      schema:
        type: string
        format: uuid
      required: true
      description: UUID of the source
    delete:
      tags:
        - Organization
      operationId: removeAssetSource
      summary: Remove single source from asset
      responses:
        '204':
          description: empty response
        '400':
          $ref: '#/components/responses/InvalidRequestParamError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/NotAllowedForLicenseError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /org/custom-integrations:
    get:
      tags:
        - Org
      operationId: getOrgCustomIntegrations
      summary: Get all custom integrations
      responses:
        '200':
          description: An array of all custom integrations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomIntegration'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/NotAllowedForLicenseError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /org/custom-integrations/{customIntegrationId}:
    parameters:
      - in: path
        name: customIntegrationId
        schema:
          type: string
          format: uuid
        required: true
        description: UUID of the custom integration
    get:
      tags:
        - Org
      operationId: getOrgCustomIntegration
      summary: Get single custom integration
      responses:
        '200':
          description: The custom integration with given ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomIntegration'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/NotAllowedForLicenseError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /org/services:
    parameters:
      - $ref: '#/components/parameters/orgID'
    get:
      tags:
        - Organization
      operationId: getServices
      summary: Get all services
      parameters:
        - in: query
          name: search
          description: an optional search string for filtering results
          required: false
          schema:
            type: string
      responses:
        '200':
          description: array of services
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Service'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /org/services/{service_id}:
    parameters:
      - $ref: '#/components/parameters/orgID'
    get:
      tags:
        - Organization
      operationId: getService
      summary: Get service details
      parameters:
        - in: path
          name: service_id
          schema:
            type: string
            format: uuid
          required: true
          description: UUID of the service to retrieve
      responses:
        '200':
          description: service details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Service'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
    delete:
      tags:
        - Organization
      operationId: removeService
      summary: Remove a service
      parameters:
        - in: path
          name: service_id
          schema:
            type: string
            format: uuid
          required: true
          description: UUID of the service to remove
      responses:
        '204':
          description: empty response
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /org/wireless:
    parameters:
      - $ref: '#/components/parameters/orgID'
    get:
      tags:
        - Organization
      operationId: getWirelessLANs
      summary: Get all wireless LANs
      parameters:
        - in: query
          name: search
          description: an optional search string for filtering results
          required: false
          schema:
            type: string
      responses:
        '200':
          description: array of wireless LANs
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Wireless'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /org/wireless/{wireless_id}:
    parameters:
      - $ref: '#/components/parameters/orgID'
    get:
      tags:
        - Organization
      operationId: getWirelessLAN
      summary: Get wireless LAN details
      parameters:
        - in: path
          name: wireless_id
          schema:
            type: string
            format: uuid
          required: true
          description: UUID of the wireless LAN to retrieve
      responses:
        '200':
          description: wireless details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Wireless'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
    delete:
      tags:
        - Organization
      operationId: removeWirelessLAN
      summary: Remove a wireless LAN
      parameters:
        - in: path
          name: wireless_id
          schema:
            type: string
            format: uuid
          required: true
          description: UUID of the wireless LAN to remove
      responses:
        '204':
          description: empty response
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'


  /org/tasks:
    parameters:
      - $ref: '#/components/parameters/orgID'
    get:
      tags:
        - Organization
      operationId: getTasks
      summary: Get all tasks (last 1000)
      parameters:
        - in: query
          name: status
          description: an optional status string for filtering results
          required: false
          schema:
            type: string
        - in: query
          name: search
          description: an optional search string for filtering results
          required: false
          schema:
            type: string
      responses:
        '200':
          description: array of tasks
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Task'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /org/tasks/{task_id}:
    parameters:
      - $ref: '#/components/parameters/orgID'
    get:
      tags:
        - Organization
      operationId: getTask
      summary: Get task details
      parameters:
        - in: path
          name: task_id
          schema:
            type: string
            format: uuid
          required: true
          description: UUID of the task to retrieve
      responses:
        '200':
          description: task details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
    patch:
      tags:
        - Organization
      operationId: updateTask
      summary: Update task parameters
      parameters:
        - in: path
          name: task_id
          schema:
            type: string
            format: uuid
          required: true
          description: UUID of the task to update
      requestBody:
        description: task object
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskOptions'
      responses:
        '200':
          description: task details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /org/tasks/{task_id}/data:
    parameters:
      - $ref: '#/components/parameters/orgID'
    get:
      tags:
        - Organization
      operationId: getTaskScanData
      summary: Returns a temporary task scan data url
      parameters:
        - in: path
          name: task_id
          schema:
            type: string
            format: uuid
          required: true
          description: UUID of the task
      responses:
        '303':
          description: Redirection to scan data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/URL'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /org/tasks/{task_id}/changes:
    parameters:
      - $ref: '#/components/parameters/orgID'
    get:
      tags:
        - Organization
      operationId: getTaskChangeReport
      summary: Returns a temporary task change report data url
      parameters:
        - in: path
          name: task_id
          schema:
            type: string
            format: uuid
          required: true
          description: UUID of the task
      responses:
        '303':
          description: Redirection to scan data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/URL'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /org/tasks/{task_id}/log:
    parameters:
      - $ref: '#/components/parameters/orgID'
    get:
      tags:
        - Organization
      operationId: getTaskLog
      summary: Returns a temporary task log data url
      parameters:
        - in: path
          name: task_id
          schema:
            type: string
            format: uuid
          required: true
          description: UUID of the task
      responses:
        '303':
          description: Redirection to scan data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/URL'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /org/tasks/{task_id}/stop:
    parameters:
      - $ref: '#/components/parameters/orgID'
    post:
      tags:
        - Organization
      operationId: stopTask
      summary: Signal that a task should be stopped or canceled.This will also remove recurring and scheduled tasks
      parameters:
        - in: path
          name: task_id
          schema:
            type: string
            format: uuid
          required: true
          description: UUID of the task to stop
      responses:
        '200':
          description: task information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /org/tasks/{task_id}/hide:
    parameters:
      - $ref: '#/components/parameters/orgID'
    post:
      tags:
        - Organization
      operationId: hideTask
      summary: Signal that a completed task should be hidden
      parameters:
        - in: path
          name: task_id
          schema:
            type: string
            format: uuid
          required: true
          description: UUID of the task to hide
      responses:
        '200':
          description: task information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /account/orgs:
    get:
      tags:
        - Account
      operationId: getAccountOrganizations
      summary: Get all organization details
      parameters:
        - in: query
          name: search
          description: an optional search string for filtering results
          required: false
          schema:
            type: string
      responses:
        '200':
          description: array of organizations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Organization'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
    put:
      tags:
        - Account
      operationId: createAccountOrganization
      summary: Create a new organization
      requestBody:
        description: organization definition
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrgOptions"
      responses:
        '200':
          description: organization details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /account/orgs/{org_id}:
    get:
      tags:
        - Account
      operationId: getAccountOrganization
      summary: Get organization details
      parameters:
        - in: path
          name: org_id
          schema:
            type: string
            format: uuid
          required: true
          description: UUID of the organization to retrieve
      responses:
        '200':
          description: organization information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
    patch:
      tags:
        - Account
      operationId: updateAccountOrganization
      summary: Update organization details
      parameters:
        - in: path
          name: org_id
          schema:
            type: string
            format: uuid
          required: true
          description: UUID of the organization to retrieve
      requestBody:
        description: organization options
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrgOptions'
      responses:
        '200':
          description: organization details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
    delete:
      tags:
        - Account
      operationId: removeAccountOrganization
      summary: Remove this organization
      parameters:
        - in: path
          name: org_id
          schema:
            type: string
            format: uuid
          required: true
          description: UUID of the organization to retrieve
      responses:
        '204':
          description: empty response
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /account/orgs/{org_id}/exportToken:
    delete:
      deprecated: true
      tags:
        - Account
      operationId: deleteAccountOrganizationExportTokenDeprecated
      summary: Removes the export token from the specified organization
      description: This API has been deprecated.  Please use `DELETE /account/orgs/{org_id}/exportTokens/{key_id}` instead.  This API will fail if more than one export tokens exist for the given organization.
      parameters:
        - in: path
          name: org_id
          schema:
            type: string
            format: uuid
          required: true
          description: UUID of the organization to retrieve
      responses:
        '204':
          description: empty response
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /account/orgs/{org_id}/exportToken/rotate:
    patch:
      deprecated: true
      tags:
        - Account
      operationId: rotateAccountOrganizationExportTokenDeprecated
      summary: Rotates an organization export token and returns the updated token
      description: This API has been deprecated.  Please use `PATCH /account/orgs/{org_id}/exportTokens/{key_id}/rotate` instead.  This API will fail if more than one export tokens exist for the given organization.
      parameters:
        - in: path
          name: org_id
          schema:
            type: string
            format: uuid
          required: true
          description: UUID of the organization to retrieve
      responses:
        '200':
          description: export token details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportToken'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /account/orgs/{org_id}/exportTokens:
    get:
      tags:
        - Account
      operationId: getAccountOrganizationExportTokens
      summary: Get all active export tokens for an organization
      parameters:
        - in: path
          name: org_id
          schema:
            type: string
            format: uuid
          required: true
          description: UUID of the organization to retrieve export tokens for
      responses:
        '200':
          description: array of export tokens
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExportToken'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
    post:
      tags:
        - Account
      operationId: createAccountOrganizationExportToken
      summary: Create a new export token for an organization
      parameters:
        - in: path
          name: org_id
          schema:
            type: string
            format: uuid
          required: true
          description: UUID of the organization to create an export token for
      requestBody:
        description: export token parameters
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExportTokenOptions"
      responses:
        '200':
          description: export token details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportToken'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /account/orgs/{org_id}/exportTokens/{key_id}:
    get:
      tags:
        - Account
      operationId: getAccountOrganizationExportToken
      summary: Get export token details
      parameters:
        - in: path
          name: org_id
          schema:
            type: string
            format: uuid
          required: true
          description: UUID of the organization to retrieve
        - in: path
          name: key_id
          schema:
            type: string
            format: uuid
          required: true
          description: UUID of the export token ID to retrieve
      responses:
        '200':
          description: export token details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportToken'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
    delete:
      tags:
        - Account
      operationId: deleteAccountOrganizationExportToken
      summary: Removes the export token from the specified organization
      parameters:
        - in: path
          name: org_id
          schema:
            type: string
            format: uuid
          required: true
          description: UUID of the organization to retrieve
        - in: path
          name: key_id
          schema:
            type: string
            format: uuid
          required: true
          description: UUID of the export token ID to remove
      responses:
        '204':
          description: empty response
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /account/orgs/{org_id}/exportTokens/{key_id}/rotate:
    patch:
      tags:
        - Account
      operationId: rotateAccountOrganizationExportToken
      summary: Rotates an organization export token and returns the updated token
      parameters:
        - in: path
          name: org_id
          schema:
            type: string
            format: uuid
          required: true
          description: UUID of the organization to retrieve
        - in: path
          name: key_id
          schema:
            type: string
            format: uuid
          required: true
          description: UUID of the export token ID to rotate
      responses:
        '200':
          description: export token details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportToken'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /account/license:
    get:
      tags:
        - Account
      operationId: getAccountLicense
      summary: Get license details
      responses:
        '200':
          description: license information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/License'
        '401':
          $ref: '#/components/responses/UnauthorizedError'


  /account/sites:
    get:
      tags:
        - Account
      operationId: getAccountSites
      summary: Get all sites details across all organizations
      parameters:
        - in: query
          name: search
          description: an optional search string for filtering results
          required: false
          schema:
            type: string
      responses:
        '200':
          description: array of sites
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Site'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
  /account/credentials:
    get:
      tags:
        - Account
      operationId: getAccountCredentials
      summary: Get all account credentials
      parameters:
        - in: query
          name: search
          description: an optional search string for filtering results
          required: false
          schema:
            type: string
      responses:
        '200':
          description: array of credentials
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Credential'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
    put:
      tags:
        - Account
      operationId: createAccountCredential
      summary: Create a new credential
      requestBody:
        description: credential parameters
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CredentialOptions"
      responses:
        '200':
          description: credential details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Credential'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /account/credentials/{credential_id}:
    get:
      tags:
        - Account
      operationId: getAccountCredential
      summary: Get credential details
      parameters:
        - in: path
          name: credential_id
          schema:
            type: string
            format: uuid
          required: true
          description: UUID of the credential to retrieve
      responses:
        '200':
          description: credential details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Credential'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
    delete:
      tags:
        - Account
      operationId: removeAccountCredential
      summary: Remove this credential
      parameters:
        - in: path
          name: credential_id
          schema:
            type: string
            format: uuid
          required: true
          description: UUID of the credential to delete
      responses:
        '204':
          description: empty response
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /account/keys:
    get:
      tags:
        - Account
      operationId: getAccountKeys
      summary: Get all active API keys
      responses:
        '200':
          description: array of keys
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/APIKey'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
    put:
      tags:
        - Account
      operationId: createAccountKey
      summary: Create a new key
      requestBody:
        description: key parameters
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/APIKeyOptions"
      responses:
        '200':
          description: key details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKey'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /account/keys/{key_id}:
    get:
      tags:
        - Account
      operationId: getAccountKey
      summary: Get key details
      parameters:
        - in: path
          name: key_id
          schema:
            type: string
            format: uuid
          required: true
          description: UUID of the key to retrieve
      responses:
        '200':
          description: api key information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKey'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
    delete:
      tags:
        - Account
      operationId: removeAccountKey
      summary: Remove this key
      parameters:
        - in: path
          name: key_id
          schema:
            type: string
            format: uuid
          required: true
          description: UUID of the key to retrieve
      responses:
        '204':
          description: empty response
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /account/keys/{key_id}/rotate:
    patch:
      tags:
        - Account
      operationId: rotateAccountKey
      summary: Rotates the key secret
      parameters:
        - in: path
          name: key_id
          schema:
            type: string
            format: uuid
          required: true
          description: UUID of the key to retrieve
      responses:
        '200':
          description: key details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKey'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /account/events.json:
    get:
      tags:
        - Account
      operationId: exportEventsJSON
      summary: System event log as JSON
      parameters:
        - in: query
          name: search
          description: an optional search string for filtering results
          required: false
          schema:
            type: string
        - in: query
          name: fields
          description: an optional list of fields to export, comma-separated
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/startKey'
      responses:
        '200':
          description: Filtered event results. <ul><li>When the `page_size` query parameter is not set in the request, the response will be a JSON array of events.</li><li>When the `page_size` query parameter is present in the request, the response will be an object with an events array and a `next_key` string for pagination.</li></ul>
          content:
            application/json:
              schema:
                oneOf:
                  - type: array
                    items:
                      $ref: '#/components/schemas/Event'
                  - type: object
                    properties:
                      events:
                        type: array
                        items:
                          $ref: '#/components/schemas/Event'
                      next_key:
                        type: string
                        description: The key to use for the next page of results
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /account/events.jsonl:
    get:
      tags:
        - Account
      operationId: exportEventsJSONL
      summary: System event log as JSON line-delimited
      parameters:
        - in: query
          name: search
          description: an optional search string for filtering results
          required: false
          schema:
            type: string
        - in: query
          name: fields
          description: an optional list of fields to export, comma-separated
          required: false
          schema:
            type: string
      responses:
        '200':
          description: filtered event results
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Event'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /account/tasks:
    get:
      tags:
        - Account
      operationId: getAccountTasks
      summary: Get all task details across all organizations (up to 1000)
      parameters:
        - in: query
          name: search
          description: an optional search string for filtering results
          required: false
          schema:
            type: string
      responses:
        '200':
          description: array of tasks
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Task'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /account/tasks/templates:
    get:
      tags:
        - Account
      operationId: getAccountScanTemplates
      summary: Get all scan templates across all organizations (up to 1000)
      parameters:
        - in: query
          name: search
[...]
