openapi: 3.0.0
info:
  contact:
    email: support@runzero.com
  description: "runZero API. API use is rate limited, you can make as many calls per\
    \ day as you have licensed assets."
  license:
    name: Commercial
    url: https://www.runzero.com/legal/terms
  title: runZero API
  version: 4.0.250826.0
servers:
- description: runZero Console
  url: https://console.runzero.com/api/v1.0
security:
- bearerAuth: []
- oauthDefaults: []
tags:
- description: "Requires Account key (starts with CT), or OAuth"
  name: Account
- description: "Requires Organization key (starts with OT), Account key (starts with\
    \ CT), or OAuth"
  name: Organization
- description: "Requires Export token (starts with ET), Organization key (starts with\
    \ OT), Account key (starts with CT), or OAuth"
  name: Export
- description: "Requires Organization key (starts with OT), Account key (starts with\
    \ CT), or OAuth"
  name: Import
- description: Unauthenticated
  name: Public
paths:
  /releases/agent/version:
    get:
      operationId: getLatestAgentVersion
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComponentVersion"
          description: component version
      security: []
      summary: Returns latest agent version
      tags:
      - Public
  /releases/scanner/version:
    get:
      operationId: getLatestScannerVersion
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComponentVersion"
          description: component version
      security: []
      summary: Returns latest scanner version
      tags:
      - Public
  /releases/platform/version:
    get:
      operationId: getLatestPlatformVersion
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComponentVersion"
          description: component version
      security: []
      summary: Returns latest platform version
      tags:
      - Public
  /health:
    get:
      operationId: getHealthCheck
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthCheckResponse"
          description: health status and current version
      security: []
      summary: Returns a health check status (cloud and self-hosted)
      tags:
      - Public
  /import/org/{orgID}/assets:
    post:
      description: |
        Assets can be discovered, imported, and merged by runZero scan tasks, first-party integrations, and third-party
        defined custom integrations. See [/account/custom-integrations](#/account/getAccountCustomIntegrations). Currently only assets for custom integrations are importable here.
      operationId: importCustomIntegrationAssets
      parameters:
      - description: The ID of the organization to import the assets into
        explode: false
        in: path
        name: orgID
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          multipart/form-data:
            encoding:
              assetData:
                contentType: application/gzip
                style: form
            schema:
              $ref: "#/components/schemas/NewAssetImport"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Task"
          description: import task created. The task ID should be checked for its
            status.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Invalid request body
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Access token is missing or invalid
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Action not allowed for this license type
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Resource not found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Invalid request body
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Unexpected error occurred on the server
      summary: Import assets described by a registered custom integration
      tags:
      - Import
  /export/org/assets.json:
    get:
      operationId: exportAssetsJSON
      parameters:
      - description: The current Organization
        explode: true
        in: query
        name: _oid
        required: false
        schema:
          type: string
        style: form
      - description: A search query in runZero search query syntax
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: "A list of fields to export, comma-separated"
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: The number of results to return per request.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: The value to use for requesting the next page when requesting
          paginated results.  This should be the value of the `next_key` attribute
          returned in the previous response.
        explode: true
        in: query
        name: start_key
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/exportAssetsJSON_200_response"
          description: "Filtered asset results. <ul><li>When the `page_size` query\
            \ parameter is not set in the request, the response will be a JSON array\
            \ of assets.</li><li>When the `page_size` query parameter is present in\
            \ the request, the response will be an object with an assets array and\
            \ a `next_key` string for pagination.</li></ul>"
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Access token is missing or invalid
      summary: Exports the asset inventory
      tags:
      - Export
  /export/org/assets.jsonl:
    get:
      operationId: exportAssetsJSONL
      parameters:
      - description: The current Organization
        explode: true
        in: query
        name: _oid
        required: false
        schema:
          type: string
        style: form
      - description: A search query in runZero search query syntax
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: "A list of fields to export, comma-separated"
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                format: binary
                type: string
          description: filtered asset results
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Access token is missing or invalid
      summary: Asset inventory as JSON line-delimited
      tags:
      - Export
  /export/org/assets.csv:
    get:
      operationId: exportAssetsCSV
      parameters:
      - description: The current Organization
        explode: true
        in: query
        name: _oid
        required: false
        schema:
          type: string
        style: form
      - description: A search query in runZero search query syntax
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/csv:
              schema:
                format: binary
                type: string
          description: filtered asset results
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Access token is missing or invalid
      summary: Asset inventory as CSV
      tags:
      - Export
  /export/org/assets.nmap.xml:
    get:
      operationId: exportAssetsNmapXML
      parameters:
      - description: The current Organization
        explode: true
        in: query
        name: _oid
        required: false
        schema:
          type: string
        style: form
      - description: A search query in runZero search query syntax
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/xml:
              schema:
                format: binary
                type: string
          description: filtered asset results
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Access token is missing or invalid
      summary: Asset inventory as Nmap-style XML
      tags:
      - Export
  /export/org/services.json:
    get:
      operationId: exportServicesJSON
      parameters:
      - description: The current Organization
        explode: true
        in: query
        name: _oid
        required: false
        schema:
          type: string
        style: form
      - description: A search query in runZero search query syntax
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: "A list of fields to export, comma-separated"
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: The number of results to return per request.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: The value to use for requesting the next page when requesting
          paginated results.  This should be the value of the `next_key` attribute
          returned in the previous response.
        explode: true
        in: query
        name: start_key
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/exportServicesJSON_200_response"
          description: "Filtered service results. <ul><li>When the `page_size` query\
            \ parameter is not set in the request, the response will be a JSON array\
            \ of services.</li><li>When the `page_size` query parameter is present\
            \ in the request, the response will be an object with a services array\
            \ and a `next_key` string for pagination.</li></ul>"
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Access token is missing or invalid
      summary: Service inventory as JSON
      tags:
      - Export
  /export/org/services.jsonl:
    get:
      operationId: exportServicesJSONL
      parameters:
      - description: The current Organization
        explode: true
        in: query
        name: _oid
        required: false
        schema:
          type: string
        style: form
      - description: A search query in runZero search query syntax
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: "A list of fields to export, comma-separated"
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                format: binary
                type: string
          description: filtered service results
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Access token is missing or invalid
      summary: Service inventory as JSON line-delimited
      tags:
      - Export
  /export/org/services.csv:
    get:
      operationId: exportServicesCSV
      parameters:
      - description: The current Organization
        explode: true
        in: query
        name: _oid
        required: false
        schema:
          type: string
        style: form
      - description: A search query in runZero search query syntax
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/csv:
              schema:
                format: binary
                type: string
          description: filtered service results
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Access token is missing or invalid
      summary: Service inventory as CSV
      tags:
      - Export
  /export/org/sites.json:
    get:
      operationId: exportSitesJSON
      parameters:
      - description: The current Organization
        explode: true
        in: query
        name: _oid
        required: false
        schema:
          type: string
        style: form
      - description: A search query in runZero search query syntax
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: "A list of fields to export, comma-separated"
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Site"
                type: array
          description: all sites
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Access token is missing or invalid
      summary: Export all sites
      tags:
      - Export
  /export/org/sites.jsonl:
    get:
      operationId: exportSitesJSONL
      parameters:
      - description: The current Organization
        explode: true
        in: query
        name: _oid
        required: false
        schema:
          type: string
        style: form
      - description: A search query in runZero search query syntax
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: "A list of fields to export, comma-separated"
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                format: binary
                type: string
          description: all sites
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Access token is missing or invalid
      summary: Site list as JSON line-delimited
      tags:
      - Export
  /export/org/sites.csv:
    get:
      operationId: exportSitesCSV
      parameters:
      - description: The current Organization
        explode: true
        in: query
        name: _oid
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/csv:
              schema:
                format: binary
                type: string
          description: all sites
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Access token is missing or invalid
      summary: Site list as CSV
      tags:
      - Export
  /export/org/wireless.json:
    get:
      operationId: exportWirelessJSON
      parameters:
      - description: The current Organization
        explode: true
        in: query
        name: _oid
        required: false
        schema:
          type: string
        style: form
      - description: A search query in runZero search query syntax
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: "A list of fields to export, comma-separated"
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: The number of results to return per request.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: The value to use for requesting the next page when requesting
          paginated results.  This should be the value of the `next_key` attribute
          returned in the previous response.
        explode: true
        in: query
        name: start_key
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/exportWirelessJSON_200_response"
          description: "Filtered wireless results. <ul><li>When the `page_size` query\
            \ parameter is not set in the request, the response will be a JSON array\
            \ of wireless.</li><li>When the `page_size` query parameter is present\
            \ in the request, the response will be an object with a wireless array\
            \ and a `next_key` string for pagination.</li></ul>"
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Access token is missing or invalid
      summary: Wireless inventory as JSON
      tags:
      - Export
  /export/org/wireless.jsonl:
    get:
      operationId: exportWirelessJSONL
      parameters:
      - description: The current Organization
        explode: true
        in: query
        name: _oid
        required: false
        schema:
          type: string
        style: form
      - description: A search query in runZero search query syntax
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: "A list of fields to export, comma-separated"
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                format: binary
                type: string
          description: filtered wireless results
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Access token is missing or invalid
      summary: Wireless inventory as JSON line-delimited
      tags:
      - Export
  /export/org/wireless.csv:
    get:
      operationId: exportWirelessCSV
      parameters:
      - description: The current Organization
        explode: true
        in: query
        name: _oid
        required: false
        schema:
          type: string
        style: form
      - description: A search query in runZero search query syntax
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/csv:
              schema:
                format: binary
                type: string
          description: filtered wireless results
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Access token is missing or invalid
      summary: Wireless inventory as CSV
      tags:
      - Export
  /export/org/software.json:
    get:
      operationId: exportSoftwareJSON
      parameters:
      - description: The current Organization
        explode: true
        in: query
        name: _oid
        required: false
        schema:
          type: string
        style: form
      - description: A search query in runZero search query syntax
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: "A list of fields to export, comma-separated"
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: The number of results to return per request.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: The value to use for requesting the next page when requesting
          paginated results.  This should be the value of the `next_key` attribute
          returned in the previous response.
        explode: true
        in: query
        name: start_key
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/exportSoftwareJSON_200_response"
          description: "Filtered software results. <ul><li>When the `page_size` query\
            \ parameter is not set in the request, the response will be a JSON array\
            \ of software.</li><li>When the `page_size` query parameter is present\
            \ in the request, the response will be an object with a software array\
            \ and a `next_key` string for pagination.</li></ul>"
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Access token is missing or invalid
      summary: Exports the software inventory
      tags:
      - Export
  /export/org/software.jsonl:
    get:
      operationId: exportSoftwareJSONL
      parameters:
      - description: The current Organization
        explode: true
        in: query
        name: _oid
        required: false
        schema:
          type: string
        style: form
      - description: A search query in runZero search query syntax
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: "A list of fields to export, comma-separated"
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                format: binary
                type: string
          description: filtered software results
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Access token is missing or invalid
      summary: Software inventory as JSON line-delimited
      tags:
      - Export
  /export/org/software.csv:
    get:
      operationId: exportSoftwareCSV
      parameters:
      - description: The current Organization
        explode: true
        in: query
        name: _oid
        required: false
        schema:
          type: string
        style: form
      - description: A search query in runZero search query syntax
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/csv:
              schema:
                format: binary
                type: string
          description: filtered software results
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Access token is missing or invalid
      summary: Software inventory as CSV
      tags:
      - Export
  /export/org/vulnerabilities.json:
    get:
      operationId: exportVulnerabilitiesJSON
      parameters:
      - description: The current Organization
        explode: true
        in: query
        name: _oid
        required: false
        schema:
          type: string
        style: form
      - description: A search query in runZero search query syntax
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: "A list of fields to export, comma-separated"
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: The number of results to return per request.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: The value to use for requesting the next page when requesting
          paginated results.  This should be the value of the `next_key` attribute
          returned in the previous response.
        explode: true
        in: query
        name: start_key
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/exportVulnerabilitiesJSON_200_response"
          description: "Filtered vulnerability results. <ul><li>When the `page_size`\
            \ query parameter is not set in the request, the response will be a JSON\
            \ array of vulnerabilities.</li><li>When the `page_size` query parameter\
            \ is present in the request, the response will be an object with an vulnerabilites\
            \ array and a `next_key` string for pagination.</li></ul>"
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Access token is missing or invalid
      summary: Export the vulnerability inventory as JSON
      tags:
      - Export
  /export/org/vulnerabilities.jsonl:
    get:
      operationId: exportVulnerabilitiesJSONL
      parameters:
      - description: The current Organization
        explode: true
        in: query
        name: _oid
        required: false
        schema:
          type: string
        style: form
      - description: A search query in runZero search query syntax
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: "A list of fields to export, comma-separated"
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                format: binary
                type: string
          description: filtered vulnerability results
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Access token is missing or invalid
      summary: Export the vulnerability inventory as JSON line-delimited
      tags:
      - Export
  /export/org/vulnerabilities.csv:
    get:
      operationId: exportVulnerabilitiesCSV
      parameters:
      - description: The current Organization
        explode: true
        in: query
        name: _oid
        required: false
        schema:
          type: string
        style: form
      - description: A search query in runZero search query syntax
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/csv:
              schema:
                format: binary
                type: string
          description: filtered vulnerability results
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Access token is missing or invalid
      summary: Export the vulnerability inventory as CSV
      tags:
      - Export
  /export/org/certificates.csv:
    get:
      operationId: exportCertificatesCSV
      parameters:
      - description: The current Organization
        explode: true
        in: query
        name: _oid
        required: false
        schema:
          type: string
        style: form
      - description: A search query in runZero search query syntax
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/csv:
              schema:
                format: binary
                type: string
          description: filtered certificate results
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Access token is missing or invalid
      summary: Export the certificate inventory as CSV
      tags:
      - Export
  /export/org/certificates.json:
    get:
      operationId: exportCertificatesJSON
      parameters:
      - description: The current Organization
        explode: true
        in: query
        name: _oid
        required: false
        schema:
          type: string
        style: form
      - description: A search query in runZero search query syntax
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Certificate"
                type: array
          description: filtered certificate results
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Access token is missing or invalid
      summary: Export the certificate inventory as JSON
      tags:
      - Export
  /export/org/certificates.jsonl:
    get:
      operationId: exportCertificatesJSONL
      parameters:
      - description: The current Organization
        explode: true
        in: query
        name: _oid
        required: false
        schema:
          type: string
        style: form
      - description: A search query in runZero search query syntax
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Certificate"
          description: filtered certificate results
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Access token is missing or invalid
      summary: Export the certificate inventory as JSONL line-delimited
      tags:
      - Export
  /export/org/users.json:
    get:
      operationId: exportDirectoryUsersJSON
      parameters:
      - description: The current Organization
        explode: true
        in: query
        name: _oid
        required: false
        schema:
          type: string
        style: form
      - description: A search query in runZero search query syntax
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: "A list of fields to export, comma-separated"
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/DirectoryUser"
                type: array
          description: filtered user results
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Access token is missing or invalid
      summary: Exports the user inventory
      tags:
      - Export
  /export/org/users.jsonl:
    get:
      operationId: exportDirectoryUsersJSONL
      parameters:
      - description: The current Organization
        explode: true
        in: query
        name: _oid
        required: false
        schema:
          type: string
        style: form
      - description: A search query in runZero search query syntax
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: "A list of fields to export, comma-separated"
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                format: binary
                type: string
          description: filtered user results
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Access token is missing or invalid
      summary: User inventory as JSON line-delimited
      tags:
      - Export
  /export/org/users.csv:
    get:
      operationId: exportDirectoryUsersCSV
      parameters:
      - description: The current Organization
        explode: true
        in: query
        name: _oid
        required: false
        schema:
          type: string
        style: form
      - description: A search query in runZero search query syntax
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/csv:
              schema:
                format: binary
                type: string
          description: filtered user results
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Access token is missing or invalid
      summary: User inventory as CSV
      tags:
      - Export
  /export/org/groups.json:
    get:
      operationId: exportDirectoryGroupsJSON
      parameters:
      - description: The current Organization
        explode: true
        in: query
        name: _oid
        required: false
        schema:
          type: string
        style: form
      - description: A search query in runZero search query syntax
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: "A list of fields to export, comma-separated"
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/DirectoryGroup"
                type: array
          description: filtered group results
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Access token is missing or invalid
      summary: Exports the group inventory
      tags:
      - Export
  /export/org/groups.jsonl:
    get:
      operationId: exportDirectoryGroupsJSONL
      parameters:
      - description: The current Organization
        explode: true
        in: query
        name: _oid
        required: false
        schema:
          type: string
        style: form
      - description: A search query in runZero search query syntax
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: "A list of fields to export, comma-separated"
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                format: binary
                type: string
          description: filtered group results
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Access token is missing or invalid
      summary: Group inventory as JSON line-delimited
      tags:
      - Export
  /export/org/groups.csv:
    get:
      operationId: exportDirectoryGroupsCSV
      parameters:
      - description: The current Organization
        explode: true
        in: query
        name: _oid
        required: false
        schema:
          type: string
        style: form
      - description: A search query in runZero search query syntax
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/csv:
              schema:
                format: binary
                type: string
          description: filtered group results
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Access token is missing or invalid
      summary: Group inventory as CSV
      tags:
      - Export
  /export/org/findings.csv:
    get:
      operationId: exportFindingsCSV
      parameters:
      - description: The current Organization
        explode: true
        in: query
        name: _oid
        required: false
        schema:
          type: string
        style: form
      - description: A search query in runZero search query syntax
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/csv:
              schema:
                format: binary
                type: string
          description: filtered findings
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Access token is missing or invalid
      summary: Export findings as CSV
      tags:
      - Export
  /export/org/findings.json:
    get:
      operationId: exportFindingsJSON
      parameters:
      - description: The current Organization
        explode: true
        in: query
        name: _oid
        required: false
        schema:
          type: string
        style: form
      - description: A search query in runZero search query syntax
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Finding"
                type: array
          description: filtered findings
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Access token is missing or invalid
      summary: Export findings as JSON
      tags:
      - Export
  /export/org/findings.jsonl:
    get:
      operationId: exportFindingsJSONL
      parameters:
      - description: The current Organization
        explode: true
        in: query
        name: _oid
        required: false
        schema:
          type: string
        style: form
      - description: A search query in runZero search query syntax
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Finding"
                type: array
          description: filtered findings
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Access token is missing or invalid
      summary: Export findings as JSON line-delimited
      tags:
      - Export
  /export/org/subnet.stats.csv:
    get:
      operationId: exportSubnetUtilizationStatsCSV
      parameters:
      - description: The current Organization
        explode: true
        in: query
        name: _oid
        required: false
        schema:
          type: string
        style: form
      - description: an optional subnet mask size (ex:24)
        explode: true
        in: query
        name: mask
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/csv:
              schema:
                format: binary
                type: string
          description: subnet utilization stats as csv
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Access token is missing or invalid
      summary: Subnet utilization statistics as as CSV
      tags:
      - Export
  /export/org/snmp.arpcache.csv:
    get:
      operationId: exportSNMPARPCacheCSV
      parameters:
      - description: The current Organization
        explode: true
        in: query
        name: _oid
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/csv:
              schema:
                format: binary
                type: string
          description: SNMP ARP cache data as csv
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Access token is missing or invalid
      summary: SNMP ARP cache data as CSV
      tags:
      - Export
  /export/org/tasks.json:
    get:
      operationId: exportTasksJSON
      parameters:
      - description: The current Organization
        explode: true
        in: query
        name: _oid
        required: false
        schema:
          type: string
        style: form
      - description: A search query in runZero search query syntax
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: "A list of fields to export, comma-separated"
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Task"
                type: array
          description: filtered task results
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Access token is missing or invalid
      summary: Exports organization tasks
      tags:
      - Export
  /export/org/tasks.jsonl:
    get:
      operationId: exportTasksJSONL
      parameters:
      - description: The current Organization
        explode: true
        in: query
        name: _oid
        required: false
        schema:
          type: string
        style: form
      - description: A search query in runZero search query syntax
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: "A list of fields to export, comma-separated"
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                format: binary
                type: string
          description: filtered task results
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Access token is missing or invalid
      summary: Organization tasks as JSON line-delimited
      tags:
      - Export
  /org/assets/type.csv:
    get:
      operationId: exportAssetTopTypesCSV
      parameters:
      - description: The current Organization
        explode: true
        in: query
        name: _oid
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/csv:
              schema:
                format: binary
                type: string
          description: top asset types and counts as csv
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Access token is missing or invalid
      summary: Top asset types as CSV
      tags:
      - Export
  /org/assets/os.csv:
    get:
      operationId: exportAssetTopOSCSV
      parameters:
      - description: The current Organization
        explode: true
        in: query
        name: _oid
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/csv:
              schema:
                format: binary
                type: string
          description: top operating systems and counts as csv
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Access token is missing or invalid
      summary: Top asset operating systems as CSV
      tags:
      - Export
  /org/assets/hw.csv:
    get:
      operationId: exportAssetTopHWCSV
      parameters:
      - description: The current Organization
        explode: true
        in: query
        name: _oid
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/csv:
              schema:
                format: binary
                type: string
          description: top asset hardware platforms and counts as csv
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Access token is missing or invalid
      summary: Top asset hardware products as CSV
      tags:
      - Export
  /org/assets/tags.csv:
    get:
      operationId: exportAssetTopTagsCSV
      parameters:
      - description: The current Organization
        explode: true
        in: query
        name: _oid
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/csv:
              schema:
                format: binary
                type: string
          description: top asset tags and counts as csv
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Access token is missing or invalid
      summary: Top asset tags as CSV
      tags:
      - Export
  /org/services/tcp.csv:
    get:
      operationId: exportServicesTopTCPCSV
      parameters:
      - description: The current Organization
        explode: true
        in: query
        name: _oid
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/csv:
              schema:
                format: binary
                type: string
          description: top TCP services and counts as csv
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Access token is missing or invalid
      summary: Top TCP services as CSV
      tags:
      - Export
  /org/services/udp.csv:
    get:
      operationId: exportServicesTopUDPCSV
      parameters:
      - description: The current Organization
        explode: true
        in: query
        name: _oid
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/csv:
              schema:
                format: binary
                type: string
          description: top UDP services and counts as csv
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Access token is missing or invalid
      summary: Top UDP services as CSV
      tags:
      - Export
  /org/services/protocols.csv:
    get:
      operationId: exportServicesTopProtocolsCSV
      parameters:
      - description: The current Organization
        explode: true
        in: query
        name: _oid
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/csv:
              schema:
                format: binary
                type: string
          description: top service protocols and counts as csv
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Access token is missing or invalid
      summary: Top service protocols as CSV
      tags:
      - Export
  /org/services/products.csv:
    get:
      operationId: exportServicesTopProductsCSV
      parameters:
      - description: The current Organization
        explode: true
        in: query
        name: _oid
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/csv:
              schema:
                format: binary
                type: string
          description: top service products and counts as csv
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Access token is missing or invalid
      summary: Top service products as CSV
      tags:
      - Export
  /org/metrics:
    get:
      operationId: exportAssetMetricsJSON
      parameters:
      - description: The current Organization
        explode: true
        in: query
        name: _oid
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  $ref: "#/components/schemas/exportAssetMetricsJSON_200_response_value"
                type: object
          description: asset metrics
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Access token is missing or invalid
      summary: Export asset metrics
  /org:
    get:
      operationId: getOrganization
      parameters:
      - description: The current Organization
        explode: true
        in: query
        name: _oid
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Organization"
          description: organization details
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Access token is missing or invalid
      summary: Get organization details
      tags:
      - Organization
    patch:
      operationId: updateOrganization
      parameters:
      - description: The current Organization
        explode: true
        in: query
        name: _oid
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrgOptions"
        description: organization options
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Organization"
          description: organization details
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Access token is missing or invalid
      summary: Update organization details
      tags:
      - Organization
  /org/key:
    delete:
      operationId: removeKey
      parameters:
      - description: The current Organization
        explode: true
        in: query
        name: _oid
        required: false
        schema:
          type: string
        style: form
      responses:
        "204":
          description: empty response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Access token is missing or invalid
      summary: Remove the current API key
      tags:
      - Organization
    get:
      operationId: getKey
      parameters:
      - description: The current Organization
        explode: true
        in: query
        name: _oid
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrganizationAPIKey"
          description: api key details
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Access token is missing or invalid
      summary: Get API key details
      tags:
      - Organization
  /org/key/rotate:
    patch:
      operationId: rotateKey
      parameters:
      - description: The current Organization
        explode: true
        in: query
        name: _oid
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrganizationAPIKey"
          description: api key details
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Access token is missing or invalid
      summary: Rotate the API key secret and return the updated key
      tags:
      - Organization
  /org/agents:
    get:
      operationId: getAgents
      parameters:
      - description: The current Organization
        explode: true
        in: query
        name: _oid
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Agent"
                type: array
          description: array of agents
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Access token is missing or invalid
      summary: Get all agents. Legacy path for /org/explorers
      tags:
      - Organization
  /org/agents/{agent_id}:
    delete:
      operationId: removeAgent
      parameters:
      - description: The current Organization
        explode: true
        in: query
        name: _oid
        required: false
        schema:
          type: string
        style: form
      - description: UUID of the agent to remove
        explode: false
        in: path
        name: agent_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: empty response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Access token is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Resource not found
      summary: "Remove and uninstall an agent. Legacy path for /org/explorers/{explorer_id}"
      tags:
      - Organization
    get:
      operationId: getAgent
      parameters:
      - description: The current Organization
        explode: true
        in: query
        name: _oid
        required: false
        schema:
          type: string
        style: form
      - description: UUID of the agent
        explode: false
        in: path
        name: agent_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Agent"
          description: agent details
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Access token is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Resource not found
      summary: "Get details for a single agent. Legacy path for /org/explorers/{explorer_id}"
      tags:
      - Organization
    patch:
      operationId: updateAgentSettings
      parameters:
      - description: The current Organization
        explode: true
        in: query
        name: _oid
        required: false
        schema:
          type: string
        style: form
      - description: UUID of the agent to update
        explode: false
        in: path
        name: agent_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AgentPatchedSettings"
        description: The updated settings to apply to the agent
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Agent"
          description: agent details
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Access token is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Resource not found
      summary: "Update the settings associated with the agent. Legacy path for /org/explorers/{explorer_id}"
      tags:
      - Organization
  /org/agents/{agent_id}/update:
    post:
      operationId: upgradeAgent
      parameters:
      - description: The current Organization
        explode: true
        in: query
        name: _oid
        required: false
        schema:
          type: string
        style: form
      - description: UUID of the agent to update
        explode: false
        in: path
        name: agent_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: empty response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Access token is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Resource not found
      summary: "Force an agent to update and restart. Legacy path for /org/explorers/{explorer_id}/update"
      tags:
      - Organization
  /org/explorers:
    get:
      description: Get all explorers. This is the same call as legacy path /org/agents
      operationId: getExplorers
      parameters:
      - description: The current Organization
        explode: true
        in: query
        name: _oid
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Explorer"
                type: array
          description: array of agents
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Access token is missing or invalid
      summary: Get all explorers
      tags:
      - Organization
  /org/explorers/{explorer_id}:
    delete:
      description: "Remove and uninstall an explorer. This is the same call as legacy\
        \ path /org/agents/{agent_id}"
      operationId: removeExplorer
      parameters:
      - description: The current Organization
        explode: true
        in: query
        name: _oid
        required: false
        schema:
          type: string
        style: form
      - description: UUID of the explorer to remove
        explode: false
        in: path
        name: explorer_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: empty response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Access token is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Resource not found
      summary: Remove and uninstall an explorer
      tags:
      - Organization
    get:
      description: "Get details for a single explorer. This is the same call as legacy\
        \ path /org/agents/{agent_id}"
      operationId: getExplorer
      parameters:
      - description: The current Organization
        explode: true
        in: query
        name: _oid
        required: false
        schema:
          type: string
        style: form
      - description: UUID of the explorer
        explode: false
        in: path
        name: explorer_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Explorer"
          description: explorer details
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Access token is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Resource not found
      summary: Get details for a single explorer.
      tags:
      - Organization
    patch:
      description: "Update the settings associated with the Explorer. This is the\
        \ same call as legacy path /org/agents/{agent_id}"
      operationId: updateExplorerSettings
      parameters:
      - description: The current Organization
        explode: true
        in: query
        name: _oid
        required: false
        schema:
          type: string
        style: form
      - description: UUID of the explorer to update
        explode: false
        in: path
        name: explorer_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExplorerPatchedSettings"
        description: The updated settings to apply to the Explorer
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Explorer"
          description: explorer details
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Access token is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Resource not found
      summary: Update the settings associated with the Explorer
      tags:
      - Organization
  /org/explorers/{explorer_id}/update:
    post:
      description: "Force an explorer to update and restart. This is the same call\
        \ as legacy path /org/agents/{agent_id}/update"
      operationId: upgradeExplorer
      parameters:
      - description: The current Organization
        explode: true
        in: query
        name: _oid
        required: false
        schema:
          type: string
        style: form
      - description: UUID of the explorer to update
        explode: false
        in: path
        name: explorer_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: empty response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Access token is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Resource not found
      summary: Force an explorer to update and restart
      tags:
      - Organization
  /org/hosted-zones:
    get:
      description: Get all hosted zones. Hosted Zones are only available to Enterprise
        licensed customers.
      operationId: getHostedZones
      parameters:
      - description: The current Organization
        explode: true
        in: query
        name: _oid
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/HostedZone"
                type: array
          description: array of hosted zones
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Access token is missing or invalid
      summary: Get all hosted zones
      tags:
      - Organization
  /org/hosted-zones/{hosted_zone_id}:
    get:
      description: Get details for a single Hosted Zone. Hosted Zones are only available
        to Enterprise licensed customers.
      operationId: getHostedZone
      parameters:
      - description: The current Organization
        explode: true
        in: query
        name: _oid
        required: false
        schema:
          type: string
        style: form
      - description: UUID of the hosted zone
        explode: false
        in: path
        name: hosted_zone_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HostedZone"
          description: hosted zone details
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Access token is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Resource not found
      summary: Get details for a single hosted zone.
      tags:
      - Organization
  /org/sites:
    get:
      operationId: getSites
      parameters:
      - description: The current Organization
        explode: true
        in: query
        name: _oid
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Site"
                type: array
          description: array of sites
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Access token is missing or invalid
      summary: Get all sites
      tags:
      - Organization
    put:
      operationId: createSite
      parameters:
      - description: The current Organization
        explode: true
        in: query
        name: _oid
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SiteOptions"
        description: site definition
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Site"
          description: site details
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Access token is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Resource not found
      summary: Create a new site
      tags:
      - Organization
  /org/sites/{site_id}:
    delete:
      operationId: removeSite
      parameters:
      - description: The current Organization
        explode: true
        in: query
        name: _oid
        required: false
        schema:
          type: string
        style: form
      - description: UUID or name of the site to remove
        explode: false
        in: path
        name: site_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: empty response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Access token is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Resource not found
      summary: Remove a site and associated assets
      tags:
      - Organization
    get:
      operationId: getSite
      parameters:
      - description: The current Organization
        explode: true
        in: query
        name: _oid
        required: false
        schema:
          type: string
        style: form
      - description: UUID or name of the site
        explode: false
        in: path
        name: site_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Site"
          description: site details
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Access token is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Resource not found
      summary: Get site details
      tags:
      - Organization
    patch:
      operationId: updateSite
      parameters:
      - description: The current Organization
        explode: true
        in: query
        name: _oid
        required: false
        schema:
          type: string
        style: form
      - description: UUID or name of the site to update
        explode: false
        in: path
        name: site_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SiteOptions"
        description: site object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Site"
          description: site details
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Access token is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Resource not found
      summary: Update a site definition
      tags:
      - Organization
  /org/sites/{site_id}/import:
    put:
      operationId: importScanData
      parameters:
      - description: The current Organization
        explode: true
        in: query
        name: _oid
        required: false
        schema:
          type: string
        style: form
      - description: UUID or name of the site to import scan data into
        explode: false
        in: path
        name: site_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/octet-stream:
            schema:
              format: binary
              type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Task"
          description: import task
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Access token is missing or invalid
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: License has expired
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Request could not be processed
      summary: Import a scan data file into a site
      tags:
      - Organization
  /org/sites/{site_id}/import/nessus:
    put:
      operationId: importNessusScanData
      parameters:
      - description: The current Organization
        explode: true
        in: query
        name: _oid
        required: false
        schema:
          type: string
        style: form
      - description: UUID or name of the site to import Nessus scan data into
        explode: false
        in: path
        name: site_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/octet-stream:
            schema:
              format: binary
              type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Task"
          description: import task
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Access token is missing or invalid
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: License has expired
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Request could not be processed
      summary: Import a Nessus scan data file into a site
      tags:
      - Organization
  /org/sites/{site_id}/import/packet:
    put:
      operationId: importPacketData
      parameters:
      - description: The current Organization
        explode: true
        in: query
        name: _oid
        required: false
        schema:
          type: string
        style: form
      - description: UUID or name of the site to import packet capture into
        explode: false
        in: path
        name: site_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/octet-stream:
            schema:
              format: binary
              type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Task"
          description: import task
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Access token is missing or invalid
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: License has expired
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Request could not be processed
      summary: Import a packet capture file into a site
      tags:
      - Organization
  /org/sites/{site_id}/scan:
    put:
      operationId: createScan
      parameters:
      - description: The current Organization
        explode: true
        in: query
        name: _oid
        required: false
        schema:
          type: string
        style: form
      - description: UUID or name of the site to scan
        explode: false
        in: path
        name: site_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          text/json:
            schema:
              $ref: "#/components/schemas/ScanOptions"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Task"
          description: a created scan task
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Access token is missing or invalid
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: License has expired
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Request could not be processed
      summary: Create a scan task for a given site
      tags:
      - Organization
  /org/sites/{site_id}/sample:
    put:
      operationId: createSample
      parameters:
      - description: The current Organization
        explode: true
        in: query
        name: _oid
        required: false
        schema:
          type: string
        style: form
      - description: UUID or name of the site to scan
        explode: false
        in: path
        name: site_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          text/json:
            schema:
              $ref: "#/components/schemas/SampleOptions"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Task"
          description: a created scan task
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Access token is missing or invalid
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: License has expired
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Request could not be processed
      summary: Create a traffic sampling task for a given site
      tags:
      - Organization
  /org/assets:
    get:
      operationId: getAssets
      parameters:
      - description: The current Organization
        explode: true
        in: query
        name: _oid
        required: false
        schema:
          type: string
        style: form
      - description: A search query in runZero search query syntax
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: "A list of fields to export, comma-separated"
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Asset"
                type: array
          description: array of assets
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Access token is missing or invalid
      summary: Get all assets
      tags:
      - Organization
  /org/assets/{asset_id}:
    delete:
      operationId: removeAsset
      parameters:
      - description: The current Organization
        explode: true
        in: query
        name: _oid
        required: false
        schema:
          type: string
        style: form
      - description: UUID of the asset to remove
        explode: false
        in: path
        name: asset_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: empty response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Access token is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Resource not found
      summary: Remove an asset
      tags:
      - Organization
    get:
      operationId: getAsset
      parameters:
      - description: The current Organization
        explode: true
        in: query
        name: _oid
        required: false
        schema:
          type: string
        style: form
      - description: UUID of the asset to retrieve
        explode: false
        in: path
        name: asset_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Asset"
          description: asset details
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Access token is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Resource not found
      summary: Get asset details
      tags:
      - Organization
  /org/assets/bulk/delete:
    post:
      operationId: removeBulkAssets
      parameters:
      - description: The current Organization
        explode: true
        in: query
        name: _oid
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssetIDs"
        description: list of asset IDs to remove
        required: true
      responses:
        "204":
          description: empty response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Access token is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Unexpected error occurred on the server
      summary: Removes multiple assets by ID
      tags:
      - Organization
  /org/assets/{asset_id}/comments:
    patch:
      operationId: updateAssetComments
      parameters:
      - description: The current Organization
        explode: true
        in: query
        name: _oid
        required: false
        schema:
          type: string
        style: form
      - description: UUID of the asset to update
        explode: false
        in: path
        name: asset_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssetComments"
        description: comments to apply to the asset
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Asset"
          description: asset details
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Access token is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Resource not found
      summary: Update asset comments
      tags:
      - Organization
  /org/assets/{asset_id}/tags:
    patch:
      operationId: updateAssetTags
      parameters:
      - description: The current Organization
        explode: true
        in: query
        name: _oid
        required: false
        schema:
          type: string
        style: form
      - description: UUID of the asset to update
        explode: false
        in: path
        name: asset_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssetTags"
        description: tags to apply to the asset
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Asset"
          description: asset details
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Access token is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Resource not found
      summary: Update asset tags
      tags:
      - Organization
  /org/assets/{asset_id}/criticality:
    patch:
      operationId: updateAssetCriticality
      parameters:
      - description: The current Organization
        explode: true
        in: query
        name: _oid
        required: false
        schema:
          type: string
        style: form
      - description: UUID of the asset to update
        explode: false
        in: path
        name: asset_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssetCriticality"
        description: comments to apply to the asset
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Asset"
          description: asset details
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Access token is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Resource not found
      summary: Update asset criticality
      tags:
      - Organization
  /org/assets/merge:
    patch:
      operationId: mergeAssets
      parameters:
      - description: The current Organization
        explode: true
        in: query
        name: _oid
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssetIDs"
        description: List of Asset IDs to merge
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationStatus"
          description: Summary of operation results
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Access token is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Resource not found
      summary: Merge multiple assets
      tags:
      - Organization
  /org/assets/bulk/tags:
    patch:
      operationId: updateBulkAssetTags
      parameters:
      - description: The current Organization
        explode: true
        in: query
        name: _oid
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssetTagsWithSearch"
        description: search query to filter and tags to apply
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationStatus"
          description: Summary of operation results
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Access token is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Resource not found
      summary: Update tags across multiple assets based on a search query
      tags:
      - Organization
  /org/assets/bulk/clearTags:
    post:
      operationId: clearBulkAssetTags
      parameters:
      - description: The current Organization
        explode: true
        in: query
        name: _oid
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchQuery"
        description: search query to filter
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationStatus"
          description: Summary of operation results
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Access token is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Resource not found
      summary: Clear all tags across multiple assets based on a search query
      tags:
      - Organization
  /org/assets/bulk/criticality:
    patch:
      operationId: updateBulkAssetCriticality
      parameters:
      - description: The current Organization
        explode: true
        in: query
        name: _oid
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssetCriticalityWithSearch"
        description: search query to filter and criticality to apply
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationStatus"
          description: Summary of operation results
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Access token is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Resource not found
      summary: Update criticality across multiple assets based on a search query
      tags:
      - Organization
  /org/assets/{asset_id}/owners:
    patch:
      operationId: updateAssetOwners
      parameters:
      - description: The current Organization
        explode: true
        in: query
        name: _oid
        required: false
        schema:
          type: string
        style: form
      - description: UUID of the asset to update
        explode: false
        in: path
        name: asset_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssetOwnerships"
        description: list of ownerships to apply to the asset
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Asset"
          description: asset details
        "400":
          content:
[...]
