/*
runZero API

runZero API. API use is rate limited, you can make as many calls per day as you have licensed assets.

API version: 4.0.250826.0
Contact: support@runzero.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package runzero

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"os"
	"strings"
)

// ImportAPIService ImportAPI service
type ImportAPIService service

type ApiImportCustomIntegrationAssetsRequest struct {
	ctx                 context.Context
	ApiService          *ImportAPIService
	orgID               string
	siteId              *string
	customIntegrationId *string
	importTask          *ImportTask
	assetData           *os.File
}

// The ID of the site assets are to be imported into.
func (r ApiImportCustomIntegrationAssetsRequest) SiteId(siteId string) ApiImportCustomIntegrationAssetsRequest {
	r.siteId = &siteId
	return r
}

// The unique ID of the registered custom integration which produced the asset data. Uniqueness is not checked/enforced. See /account/custom-integrations api.
func (r ApiImportCustomIntegrationAssetsRequest) CustomIntegrationId(customIntegrationId string) ApiImportCustomIntegrationAssetsRequest {
	r.customIntegrationId = &customIntegrationId
	return r
}

func (r ApiImportCustomIntegrationAssetsRequest) ImportTask(importTask ImportTask) ApiImportCustomIntegrationAssetsRequest {
	r.importTask = &importTask
	return r
}

// A gzip (not .tar.gz) compressed file containing ImportAsset objects. The file data may be a JSON array of ImportAsset objects, e.g. [{},{},...] or JSONL format, with a single JSON representation of an ImportAsset object on each new line, e.g. {}\\\\n{}\\\\n...
func (r ApiImportCustomIntegrationAssetsRequest) AssetData(assetData *os.File) ApiImportCustomIntegrationAssetsRequest {
	r.assetData = assetData
	return r
}

func (r ApiImportCustomIntegrationAssetsRequest) Execute() (*Task, *http.Response, error) {
	return r.ApiService.ImportCustomIntegrationAssetsExecute(r)
}

/*
ImportCustomIntegrationAssets Import assets described by a registered custom integration

Assets can be discovered, imported, and merged by runZero scan tasks, first-party integrations, and third-party
defined custom integrations. See [/account/custom-integrations](#/account/getAccountCustomIntegrations). Currently only assets for custom integrations are importable here.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param orgID The ID of the organization to import the assets into
	@return ApiImportCustomIntegrationAssetsRequest
*/
func (a *ImportAPIService) ImportCustomIntegrationAssets(ctx context.Context, orgID string) ApiImportCustomIntegrationAssetsRequest {
	return ApiImportCustomIntegrationAssetsRequest{
		ApiService: a,
		ctx:        ctx,
		orgID:      orgID,
	}
}

// Execute executes the request
//
//	@return Task
func (a *ImportAPIService) ImportCustomIntegrationAssetsExecute(r ApiImportCustomIntegrationAssetsRequest) (*Task, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *Task
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ImportAPIService.ImportCustomIntegrationAssets")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/import/org/{orgID}/assets"
	localVarPath = strings.Replace(localVarPath, "{"+"orgID"+"}", url.PathEscape(parameterValueToString(r.orgID, "orgID")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.siteId == nil {
		return localVarReturnValue, nil, reportError("siteId is required and must be specified")
	}
	if r.customIntegrationId == nil {
		return localVarReturnValue, nil, reportError("customIntegrationId is required and must be specified")
	}
	if r.importTask == nil {
		return localVarReturnValue, nil, reportError("importTask is required and must be specified")
	}
	if r.assetData == nil {
		return localVarReturnValue, nil, reportError("assetData is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarFormParams, "siteId", r.siteId, "", "")
	parameterAddToHeaderOrQuery(localVarFormParams, "customIntegrationId", r.customIntegrationId, "", "")
	parameterAddToHeaderOrQuery(localVarFormParams, "importTask", r.importTask, "", "")
	var assetDataLocalVarFormFileName string
	var assetDataLocalVarFileName string
	var assetDataLocalVarFileBytes []byte

	assetDataLocalVarFormFileName = "assetData"
	assetDataLocalVarFile := r.assetData

	if assetDataLocalVarFile != nil {
		fbs, _ := io.ReadAll(assetDataLocalVarFile)

		assetDataLocalVarFileBytes = fbs
		assetDataLocalVarFileName = assetDataLocalVarFile.Name()
		assetDataLocalVarFile.Close()
		formFiles = append(formFiles, formFile{fileBytes: assetDataLocalVarFileBytes, fileName: assetDataLocalVarFileName, formFileName: assetDataLocalVarFormFileName})
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
