/*
runZero API

runZero API. API use is rate limited, you can make as many calls per day as you have licensed assets.

API version: 4.0.250826.0
Contact: support@runzero.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// SplunkAPIService SplunkAPI service
type SplunkAPIService service

type ApiSplunkAssetSyncCreatedJSONRequest struct {
	ctx context.Context
	ApiService *SplunkAPIService
	oid *string
	search *string
	fields *string
	since *int64
}

// The current Organization
func (r ApiSplunkAssetSyncCreatedJSONRequest) Oid(oid string) ApiSplunkAssetSyncCreatedJSONRequest {
	r.oid = &oid
	return r
}

// an optional search string for filtering results
func (r ApiSplunkAssetSyncCreatedJSONRequest) Search(search string) ApiSplunkAssetSyncCreatedJSONRequest {
	r.search = &search
	return r
}

// an optional list of fields to export, comma-separated
func (r ApiSplunkAssetSyncCreatedJSONRequest) Fields(fields string) ApiSplunkAssetSyncCreatedJSONRequest {
	r.fields = &fields
	return r
}

// an optional unix timestamp to use as a checkpoint
func (r ApiSplunkAssetSyncCreatedJSONRequest) Since(since int64) ApiSplunkAssetSyncCreatedJSONRequest {
	r.since = &since
	return r
}

func (r ApiSplunkAssetSyncCreatedJSONRequest) Execute() (*AssetsWithCheckpoint, *http.Response, error) {
	return r.ApiService.SplunkAssetSyncCreatedJSONExecute(r)
}

/*
SplunkAssetSyncCreatedJSON Exports the asset inventory in a sync-friendly manner using created_at as a checkpoint. Requires the Splunk entitlement.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSplunkAssetSyncCreatedJSONRequest
*/
func (a *SplunkAPIService) SplunkAssetSyncCreatedJSON(ctx context.Context) ApiSplunkAssetSyncCreatedJSONRequest {
	return ApiSplunkAssetSyncCreatedJSONRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return AssetsWithCheckpoint
func (a *SplunkAPIService) SplunkAssetSyncCreatedJSONExecute(r ApiSplunkAssetSyncCreatedJSONRequest) (*AssetsWithCheckpoint, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AssetsWithCheckpoint
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SplunkAPIService.SplunkAssetSyncCreatedJSON")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/export/org/assets/sync/created/assets.json"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.oid != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "_oid", r.oid, "form", "")
	}
	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "form", "")
	}
	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "form", "")
	}
	if r.since != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "since", r.since, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSplunkAssetSyncUpdatedJSONRequest struct {
	ctx context.Context
	ApiService *SplunkAPIService
	oid *string
	search *string
	fields *string
	since *int64
}

// The current Organization
func (r ApiSplunkAssetSyncUpdatedJSONRequest) Oid(oid string) ApiSplunkAssetSyncUpdatedJSONRequest {
	r.oid = &oid
	return r
}

// an optional search string for filtering results
func (r ApiSplunkAssetSyncUpdatedJSONRequest) Search(search string) ApiSplunkAssetSyncUpdatedJSONRequest {
	r.search = &search
	return r
}

// an optional list of fields to export, comma-separated
func (r ApiSplunkAssetSyncUpdatedJSONRequest) Fields(fields string) ApiSplunkAssetSyncUpdatedJSONRequest {
	r.fields = &fields
	return r
}

// an optional unix timestamp to use as a checkpoint
func (r ApiSplunkAssetSyncUpdatedJSONRequest) Since(since int64) ApiSplunkAssetSyncUpdatedJSONRequest {
	r.since = &since
	return r
}

func (r ApiSplunkAssetSyncUpdatedJSONRequest) Execute() (*AssetsWithCheckpoint, *http.Response, error) {
	return r.ApiService.SplunkAssetSyncUpdatedJSONExecute(r)
}

/*
SplunkAssetSyncUpdatedJSON Exports the asset inventory in a sync-friendly manner using updated_at as a checkpoint. Requires the Splunk entitlement.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSplunkAssetSyncUpdatedJSONRequest
*/
func (a *SplunkAPIService) SplunkAssetSyncUpdatedJSON(ctx context.Context) ApiSplunkAssetSyncUpdatedJSONRequest {
	return ApiSplunkAssetSyncUpdatedJSONRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return AssetsWithCheckpoint
func (a *SplunkAPIService) SplunkAssetSyncUpdatedJSONExecute(r ApiSplunkAssetSyncUpdatedJSONRequest) (*AssetsWithCheckpoint, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AssetsWithCheckpoint
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SplunkAPIService.SplunkAssetSyncUpdatedJSON")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/export/org/assets/sync/updated/assets.json"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.oid != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "_oid", r.oid, "form", "")
	}
	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "form", "")
	}
	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "form", "")
	}
	if r.since != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "since", r.since, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
